.profile-top-section{
  background: linear-gradient(to bottom, #61ca9d, $green);
  height: 333px;
  width: 400px;
  margin: auto;
  border-radius: 10px 10px 0 0;
  opacity: 1;
}
.profile-container{
  padding: 50px 0;
  // -webkit-filter: blur(5px);
}
.profile-lower-section{
  height: 200px;
  width: 400px;
  margin: auto;
  border-radius: 0 0 10px 10px;
  background: #262626;
}
.profile-avatar{
  text-align: center;
  padding-top: 50px;
}
.circle-border{
  border: 5px solid;
  border-radius: 50%;
  border-color: palevioletred;
}
.small-edit-text{
  font-size: 12px;
}
.profile-bio{
  background: floralwhite;
  margin: 0 50px 0 50px;
  border-radius: 5px;
  height: 100px;
  overflow: scroll;
}
