.profile-top-section{
  background: linear-gradient(to bottom, #61ca9d, $green);
  height: 200px;
  width: 400px;
  margin: auto;
  border-radius: 10px 10px 0 0;
  opacity: 1;
}
.profile-container{
  padding: 50px 0;
  // -webkit-filter: blur(5px);
}
.profile-lower-section{
  height: 300px;
  width: 400px;
  margin: auto;
  border-radius: 0 0 10px 10px;
  background: white;
}
.profile-avatar{
  text-align: center;
  padding-top: 10px;
}
.circle-border{
  border-radius: 50%;
}
.small-edit-text{
  font-size: 15px;
}
.profile-name {
  color: rgb(0,0,0);
  padding: 10px;
}
.profile-bio {
  color: rgb(0,0,0);
}
.profile-bio-head {
  color: rgb(0,0,0);
}
.small-edit-text-black {
  color:rgb(0,0,0);
}
