.ticket-file{
  text-align: center;
  padding-top: 40px;
}
.download-button{
  text-align: center;
  padding: 20px;
}
.fa-cloud-download-alt{
  text-decoration: none;
  color: $green;
  &:hover{
    opacity:0.9;
    text-decoration: none;
    color: $green;
  }
}
