<!-- WATCHLIST -->

<section class="dashboard-main-section">
  <section class="dashboard-primary-section">
    <div class="dashboard-containers">

      <div class="container-upcoming-dashboards">
        <div class="container-header-section">
          <div class="container-header-text">
            <span class="results-query">
              Keep an eye on your watchlist
              <i class="fas fa-heart" style= 'color:red'></i>
            </span>

          </div>

          <div class="dropdown-select-sort-container">
            <div class="dropdown-select-sort">
              <div class="dropdown-select-option-picked">
                <div class="dropdown-select-option-picked-text">
                  Date
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-body">

          <div class="dashboard-grouped-container">

            <div class="dashboard-group-unique">

              <div class="dashboard-left">
                <div class="dashboard-left-container">
                  <div>

                  </div>
                </div>
              </div>

              <div class="dashboard-description">
                <div class="dashboard-description-container">
                  <div class="dashboard-link-to-show-page">

                  </div>
                  <div class="dashboard-details">

                  </div>
                </div>

              </div>


              <div class="dashboard-price">
                <div class="cop-it">

                </div>
                <div class="price">

                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</section>




<% @watchlists.each do |watch|  %>
<%= watch.event.name %>
<% end %>
