.banner {
  color: white;
  text-align: center;
  min-height: 100vh;
  background-size: cover !important;
  .banner-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .banner-content {
    width: 500px;
  }
  #query {
    width: 90%;
    margin: auto;
  }
}
.banner h1 {
  font-size: 50px;
  color: $light-green;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.banner {
  display: flex;
  justify-content: center;
  align-content: center;
}
.banner-search{
  display: relative;
}
#search-description {
  opacity: 0.7;
  font-size: 24px;
}
#search {
  margin: 10px 0 20px 0;
}
.btn-home-search {
  border-radius: 6px;
  background-color: $green;
  color: #FFF;
  text-transform: uppercase;
  width: 80px;
  margin: 0 0 0 auto;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  z-index:100;
  border: none;
    &:hover{
      opacity: 0.8;
    }
}
.banner-typed-text{
  color:white;
}

// Ticket Banner //

.ticket-banner-container {
  color: white;
  text-align: center;
  background-size: cover !important;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.5) 50%);
  .banner-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .banner-content {
    width: 500px;
  }
}
.banner-venue{
  padding: 50px 50px;
  text-align: center;
  color: white;
  opacity: 0.95;
  flex-grow: 1;
}
.circle-avatar{
  border-radius: 50%;
  padding-bottom: 1px;
}
