
.event-index-container{
  h2 {
    padding: 40px 20px;
    margin: 0;
    color: $navbar-gray;
    font-weight: bold;
    position: relative;
  }
}
.event-cards-home-container {
  a {
    color: $navbar-gray;
  }
  a:hover {
    text-decoration: none;
  }
}
.location-cards-home-container {
  a {
    color: $white;
  }
  a:hover {
    text-decoration: none;
  }
}

.home-location-cards {
  background-size: cover;
  opacity: 0.9;
  min-height: 200px;
  min-width: 250px;
  padding: 0 0;
  margin: 20px 10px;
  border-radius: 5px;
  padding: 15px 20px;
  box-shadow: 10px 15px 40px 0 rgba(0,0,0,.2);
  font-size: 30px;
  font-weight: bold;
  &:hover{
    box-shadow: 20px 30px 80px 0 rgba(0, 0, 0, 0.2);
    transition: all .15s ease-in-out;
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
}

.home-event-cards {
  background-size: cover;
  opacity: 0.9;
  min-height: 200px;
  min-width: 250px;
  margin: 0px 0px;
  border-radius: 5px 5px 0 0;
  box-shadow: 10px 15px 40px 0 rgba(0,0,0,0.1);

}
.event-card-content {
  color: $navbar-gray;
  border: 1px solid lightgrey;
  border-top: none;
  padding: 0px 20px;
  border-radius: 0 0 5px 5px;
  margin-top: -15px;
  padding-top: 15px;
  font-size: 16px;
}


.venue-name-link-text{
  color: $green !important;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.event-card-padding{
  padding-bottom: 20px;
  &:hover{
    // box-shadow: 20px 30px 80px 0 rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in-out;
    -ms-transform: scale(1.015);
    -webkit-transform: scale(1.015);
    transform: scale(1.015);
    opacity: 0.9;
  }
}
.event-date-padding{
  padding: 5px;
  color: #FFF;
  text-shadow: 1px 1.5px black;
}
