.dashboard-primary-section{
 display: block;
 margin: 0 auto;
 width: 100%;
 padding-top: 20px;
}
.dashboard-main-section{
  max-width: 1000px;
  margin: auto;
  padding: 0 20px 0 20px;
}

@media (max-width: 767px)  {
  .dashboard-main-section{
    max-width: 1000px;
    margin: auto;
    padding: 0 5px 0 5px;
  }
}
.container-header-section{
  padding: 20px 10px;
  border-bottom: 1.5px solid #E7EAEC;
  font-size: 16px;
  color: #2F343B;
  display: block;
}
.container-header-text{
  display: block;
  margin-left: 10px;
}
.dropdown-select-sort-container{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
}
.dropdown-select-sort{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background: inherit;
}
.dropdown-select-option-picked{
  padding-bottom: 3px;
  display: block;
  margin-left: 20px;
}
.dropdown-select-option-picked-text{
  padding: 19px;
  font-family: HelveticaNeue, "Helvetica Neue";
  font-weight: 700;
  font-size: 14px;
  color: #585858;
  text-align: left;
}
.dashboard-containers {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2F343B;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.container-upcoming-dashboards{
  margin-bottom: 20px;
  margin-top: 60px;
  border: 0.5px solid #E7EAEC;
  background-color: #fffffe;
  position: relative;
  display: block;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
.margin-top-80{
  margin-top: 80px;
}
.container-header-section{
  padding: 20px 10px;
  border-bottom: 2px solid #E7EAEC;
  font-size: 16px;
  color: #2F343B;
  display: block;
}

.dashboard-group-unique{
  position: relative;
  border-top: 1px solid #E7EAEC;
}
.dashboard-left{
  display: table-cell;
  vertical-align: top;
  width: 85px;
  min-width: 85px;
  height: 110px;
  border-right: 0.5px solid #CFD4D9;
  display: table-cell;
  vertical-align: middle;
}
.dashboard-left-outside-block{
  min-width: 50px;
  display: block;
}
.dashboard-left-container{

}
.dashboard-description{
  padding: 10px 20px;
  vertical-align: top;
  width: 100%;
  display: table-cell;
  a:hover {
    text-decoration: none;
  }
}
@media (max-width: 767px) {
  .dashboard-description{
    padding: 8px 8px;
  }
}
.dashboard-description-container{
  vertical-align: top;
}
.dashboard-link-to-show-page{
  color: #4cb289;
  text-decoration: none;
  cursor: pointer;
  font-weight: bolder;
  margin-top: 2px;
  &:hover{
    opacity: 0.8;
  }
}
@media (min-width: 767px) {
  .dashboard-link-to-show-page{
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .dashboard-link-to-show-page{
    font-size: 12px;
  }
}
.dashboard-details{
  font-size: 12px;
  color: #828282;
  overflow: hidden;
  max-height: 45px;
  line-height: 15px;
}
.dashboard-watch{
  padding: 20px;
  vertical-align: top;
  width: 100%;
  display: table-cell;
  border-right: 0.5px solid #CFD4D9;
}
.fas {
  // font-weight: 100 !important;
}
.fa-heart{
  color: palevioletred;
}
.fa-heart:visited{
  color: orangered;
}
.dashboard-price{
  min-width: 85px;
  padding: 20px 15px 0 0;
  vertical-align: top;
  font-size: 12px;
  text-align: right;
  display: table-cell;
  border-left: 0.5px solid #CFD4D9;
}
.dashboard-price .price-at{
  color: #535353;
  font-size: 12px;
  text-align: right;
}
.dashboard-price .price{
  font-size: 20px;
  color: #65B891;
  margin: 0;
}
.dashboard-price .events-left{
  font-size: 12px;
  color: #D26478;
  letter-spacing: 0.4px;
  font-weight: bolder;
}
.posted-on-text{
  font-size: 14px;
  padding-left: 10px;
}
.booking-ticket-date{
  font-size:14px;
  color: $dark-gray;
  padding-bottom: 5px;
}
.fa-file{
  padding-top: 10px;
  padding-left: 18px;
  color: darkslategray;
  &:hover{
    color: $green;
  }
}
.voucher-photo{
  padding-left: 5px;
  padding-top: 5px;
}
.view-text-ticket{
  text-decoration: none;
  color: $green;
  padding-left: 12px;
  padding-top: 5px;
  &:hover{
    text-decoration: none;
    opacity: 0.9;
    cursor: pointer;
  }
}

button{
  width: 100px;
  height: 50px;
  position: relative;
}

button{
  width: 100px;
  height: 50px;
  position: relative;
}
.no-dashboard-info-container{
  max-width: 1000px;
  height: 80px;
  margin: auto;
  padding: 0 20px 0 20px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
  margin-top: 80px;
  border: 0.5px solid #E7EAEC;
  background-color: #fffffe;
  position: relative;
  display: block;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  p {
    margin-top: 30px;
  }
}

.ticket-event-address-text{
    font-size: 14px;
}
@media (max-width: 767px) {
  .ticket-event-address-text{
    font-size: 10px;
  }
}

.dashboard-left.listing{
      display: table-cell;
    vertical-align: top;
    border-right: 0.5px solid #CFD4D9;
}


