// Algolia stuff - do not touch!!
.aa-dropdown-menu {
  background-color: $white;
  border: 1px solid rgba(228, 228, 228, 0.6);
  min-width: 250px;
}

.aa-suggestion {
  padding: 12px;
  border-top: 1px solid rgba(228, 228, 228, 0.6);
  cursor: pointer;
  transition: .2s;
  display: flex;
}

.aa-suggestion:hover, .aa-suggestion.aa-cursor {
  background-color: $dark-gray;
  color: $white;
}

.aa-suggestion > span:first-child em, .aa-suggestion > span:last-child em {
  font-weight: 700;
  font-style: normal;
  color: $green;
  padding: 2px 0 2px 2px;
}

// Search bar for adding ticket to event
.new-ticket-container {
  padding: 50px 50px;
  color: $black;
}

.list-ticket-form {
  display: flex;
  max-width: 700px;
}

.algolia-autocomplete {
  flex-grow: 1;
  padding-right: 20px;
  min-width: 200px;
}

//search results cards
.event-card {
  border: 1px solid $dark-gray;
  border-radius: 5px;
  padding: 20px 20px;
  // margin: 5px 5px;
}
