// Algolia stuff - do not touch!!
.aa-dropdown-menu {
  background-color: $white;
  border: 1px solid rgba(228, 228, 228, 0.6);
  min-width: 250px;
}

.aa-suggestion {
  padding: 12px;
  border-top: 1px solid rgba(228, 228, 228, 0.6);
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.aa-suggestion:hover, .aa-suggestion.aa-cursor {
  background-color: $black;
  color: $white;
}

.aa-suggestion > span:first-child em, .aa-suggestion > span:last-child em{
  font-weight: 700;
  font-style: normal;
  color: $green;
  padding: 2px 0 2px 2px;
}


.aa-suggestion > span:last-child {
  padding-left: 10px;
  text-transform: uppercase;
  color: $gray;
}


// Search bar for adding ticket to event
.new-ticket-container {
  color: $black;
  a {
    color: $green;
    font-weight: bold;
  }
  a:hover {
    opacity: 0.9;
  }
}
@media (min-width: 768px) {
  .new-ticket-container{
    padding: 0px 50px;
  }
}
@media (max-width: 767px) {
  .new-ticket-container{
    padding: 0px 5px;
  }
}

.list-ticket-form {
  max-width: 900px;
  -webkit-font-smoothing: antialiased;
  margin: auto;
  border-radius: 10px;
  margin-top: 30px;
}

.algolia-autocomplete {
  flex-grow: 1;
  min-width: 200px;
  color: $black;
  display: block !important;
}
@media (max-width: 767px){
.algolia-autocomplete {
  min-width: 100px;
  }
}

//search results cards

.event-card{
  color:$white;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  p {
    font-size: 16px;
  }
}
@media (min-width: 768px){
  .event-card{
    border-radius: 5px;
    padding: 20px 10px;
    margin: 20px 10px;
    background-color: $white;
    background-size: cover;
    max-height: 450px;
  }
}
@media (max-width: 767px) {
  .event-card{
    border-radius: 5px;
    padding: 20px 0px;
    margin: 20px 0px;
    background-color: $white;
    background-size: cover;
    max-height: 450px;

  }
}
.add-ticket-container{
  text-align: right;
  margin-right: 15px;
  position: relative;
}
.event-text {
  margin: 15px 15px;
}

.form-group .file .required{
  font-size: 10px !important;
}
.list-btn{
  border-radius: 6px;
  background-color: #54BB94;
  color: #FFF;
  text-transform: uppercase;
  margin: 10px 0 0 auto;
  right: 30px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  position: absolute;
}

.list-new-event{
  text-align: right;
  margin-top: 0;
  color: $green;
  font-size: 28px;
  padding: 5px;
}

.fa-plus-circle{
  color: $green;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
.sell-ticket-font{
  color: #D26478;
  font-weight: bold;
}
@media (max-width: 500px) {
.sell-ticket-font{
  font-size: 10px;
}
}
@media (min-width: 767px) {
  .list-new-event{
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .list-new-event{
    font-size: 18px;
    margin-top: 5px;
  }
}

