// Algolia stuff - do not touch!!
.aa-dropdown-menu {
  background-color: $white;
  border: 1px solid rgba(228, 228, 228, 0.6);
  min-width: 250px;
}

.aa-suggestion {
  padding: 12px;
  border-top: 1px solid rgba(228, 228, 228, 0.6);
  cursor: pointer;
  transition: .2s;
  display: flex;
}

.aa-suggestion:hover, .aa-suggestion.aa-cursor {
  background-color: $black;
  color: $white;
}

.aa-suggestion > span:first-child em, .aa-suggestion > span:last-child em {
  font-weight: 700;
  font-style: normal;
  color: $green;
  padding: 2px 0 2px 2px;
}

// Search bar for adding ticket to event
.new-ticket-container {
  padding: 50px 50px;
  color: $black;
  a {
    color: $green;
  }
  a:hover {
    text-decoration: none;
    color: $light-green;
  }
}

.list-ticket-form {
  display: flex;
  max-width: 700px;
}

.algolia-autocomplete {
  flex-grow: 1;
  padding-right: 20px;
  min-width: 200px;
  color: $black;
}

//search results cards
.event-card {
  border-radius: 5px;
  padding: 20px 40px;
  margin: 20px 10px;
  background-color: $white;
  background-size: cover;
  max-height: 450px;
}

.event-card{
  color:$white;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  p {
    font-size: 16px;
  }
}
@media (min-width: 768px){
  .event-card{
  border-radius: 5px;
  padding: 20px 40px;
  margin: 20px 10px;
  background-color: $white;
  background-size: cover;
  max-height: 400px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .event-card{
  border-radius: 5px;
  padding: 20px 10px;
  margin: 20px 5px;
  background-color: $white;
  background-size: cover;
  max-height: 400px;

  }
}
.add-ticket-container{
  text-align: right;
  margin-right: 15px;
}
.event-text {
  margin: 15px 15px;
}


