.main-show-container{
  position: relative;
  top: 100px;
}

.ticket-primary-section{
 display: block;
 margin: 0 auto;
 width: 100%;
 padding-top: 20px;
}
.ticket-main-section{
  max-width: 1000px;
  margin: auto;
  padding: 0 20px 0 20px;
}
@media (min-width: 924px){
  .show-ticket-container{
    display: flex;
  }
}
@media (max-width: 923px){
  .show-ticket-container{
    width: 100%;
  }
}
.container-header-section{
  padding: 20px 10px;
  border-bottom: 1.5px solid #E7EAEC;
  font-size: 16px;
  color: #2F343B;
  display: block;
}
.container-header-text{
  display: block;
  margin-left: 10px;
}
.ticket-container {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  padding: 5px 5px;
  border-bottom: 2px solid $black;
  background-color: $light-gray;
  opacity: 0.85;
  border-radius: 5px;
  &:hover {
    transition: all .25s ease-in-out;
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
}
.container-upcoming-tickets *:hover {
  text-decoration: none;
  .fa-shopping-cart{
    color: $green;
  }
}



@media (min-width: 923px){
  .container-upcoming-tickets{
    margin: 20px 20px;
  }
}
@media (max-width: 923px){
  .container-upcoming-tickets{
    margin: 10px 2px;
  }
}
.container-header-section{
  padding: 20px 10px;
  border-bottom: 2px solid #E7EAEC;
  font-size: 16px;
  color: #2F343B;
  display: block;
}
// @media (max-width: 767px) {
//   .ticket-unique{
//     position: relative;
//     padding: 0;
//     // border-top: 1px solid #E7EAEC;
//   }
// }
// .ticket-unique{
//   position: relative;
//   padding: 10px 0;
//   border-top: 1px solid #E7EAEC;
// }
// .ticket-left{
//   display: table-cell;
//   vertical-align: top;
// }

// .ticket-left-container{
//   width: 80px;
//   min-width: 80px;
//   // border-right: 0.5px solid #CFD4D9;
//   display: table-cell;
//   vertical-align: middle;
//   text-align: center;
// }
.ticket-description{
  padding-top: 10px;
  padding-left: 10px;
  margin: 0px 20px;
  vertical-align: top;
  width: 100%;
  display: table-cell;
  border-right: 0.5px solid #CFD4D9;
  text-align: left;

}
#ticket_description{
  height: 40px !important;
}

.ticket-link-to-show-page{
  color: $green;
  text-decoration: none;
  cursor: pointer;
  font-weight: bolder;
}
@media (min-width: 768px){
  .ticket-link-to-show-page{
    font-size: 18px;
  }
}
@media (max-width: 767px){
  .ticket-link-to-show-page{
    font-size: 14px;
  }
}
.ticket-details{
  margin: 12px 0;
  font-size: 16px;
  color: $black;
  overflow: hidden;
  max-height: 45px;
  line-height: 15px;
}
@media (max-width: 767px){
  .ticket-details{
    font-size: 10px;
  }
}
.ticket-price{
  min-width: 80px;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  vertical-align: top;
  font-size: 12px;
  text-align: center;
  display: table-cell;
  padding: 10px 15px 0 15px;
}
.ticket-price .cop-it{
  color: #535353;
  font-size: 12px;
  text-align: right;
}
.ticket-price .price{
  font-size: 20px;
  color: $red;
}
.ticket-price .tickets-left{
  font-size: 12px;
  color: #D26478;
  letter-spacing: 0.4px;
  font-weight: bolder;
}
.fa-shopping-cart{
  padding: 3px;
  color: $dark-gray;
}
.available-tickets-text{
  text-align: center;
  padding: 10px;
  color: $light-green;
  font-size: 22px;
}
@media (min-width: 924px){
  .container-no-upcoming-tickets{
    background-color: whitesmoke;
    opacity: 0.95;
    position: relative;
    display: block;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin: 80px;

  }
}
@media (max-width: 923px){
  .container-no-upcoming-tickets{
    background-color: whitesmoke;
    opacity: 0.95;
    position: relative;
    display: block;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin: 20px;
  }
}
.ticket-date-container{
    width: 90px;
    min-width: 90px;
    height: 65px;
    display: table-cell;
    vertical-align: middle;
}
.ticket-price .price-container{
  padding: 0;
}

.tickets-for-event-text{
  padding: 5px 20px;
  margin: 10px 20px;
}
.display-flex{
  display: flex;
  align-items: start;
}
.fa-calendar-alt:before{
  padding: 15px;
}
.fa-map-marker:before{
  padding: 15px;
}
.space-around-text{
  padding-bottom: 10px;
}


