.main-show-container{
  position: relative;
  top: 100px;
}
.container-body{

}
.ticket-primary-section{
 display: block;
 margin: 0 auto;
 width: 100%;
 padding-top: 20px;
}
.ticket-main-section{
  max-width: 1000px;
  margin: auto;
  padding: 0 20px 0 20px;
}
@media (min-width: 924px){
  .show-ticket-container{
    padding: 0 0 0 20px;
    width: 100%;
    display: flex;
  }
}
@media (max-width: 923px){
  .show-ticket-container{
    width: 100%;
  }
}
.container-header-section{
  padding: 20px 10px;
  border-bottom: 1.5px solid #E7EAEC;
  font-size: 16px;
  color: #2F343B;
  display: block;
}
.container-header-text{
  display: block;
  margin-left: 10px;
}
.ticket-container {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2F343B;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.container-upcoming-tickets{
  border: 0.5px dotted $green;
  background-color: whitesmoke;
  opacity: 0.85;
  position: relative;
  display: block;
  border-radius: 80px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  align-self: flex-start;
  margin: 20px 10px 30px 5px;
}
.container-header-section{
  padding: 20px 10px;
  border-bottom: 2px solid #E7EAEC;
  font-size: 16px;
  color: #2F343B;
  display: block;
}
@media (max-width: 767px) {
  .ticket-unique{
    position: relative;
    padding: 0;
    // border-top: 1px solid #E7EAEC;
  }
}
.ticket-unique{
  position: relative;
  // padding: 10px 0;
  // border-top: 1px solid #E7EAEC;
}
.ticket-left{
  display: table-cell;
  vertical-align: top;
}

.ticket-left-container{
  width: 80px;
  min-width: 80px;
  // border-right: 0.5px solid #CFD4D9;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.ticket-description{
  padding: 0 20px;
  vertical-align: top;
  width: 100%;
  display: table-cell;
  /*  border-right: 0.5px solid #CFD4D9;*/
}
.ticket-description-container{
  vertical-align: top;
  margin-top: 10px;
}
.ticket-link-to-show-page{
  color: #4cb289;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bolder;
}
.ticket-details{
  margin-top: 12px;
  font-size: 12px;
  color: #828282;
  overflow: hidden;
  max-height: 45px;
  line-height: 15px;
}
.ticket-price{
  min-width: 80px;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  vertical-align: top;
  font-size: 12px;
  text-align: center;
  display: table-cell;
  padding: 10px 15px 0 15px;
}
.ticket-price .cop-it{
  color: #535353;
  font-size: 12px;
  text-align: right;
}
.ticket-price .price{
  font-size: 20px;
  color: $red;
}
.ticket-price .tickets-left{
  font-size: 12px;
  color: #D26478;
  letter-spacing: 0.4px;
  font-weight: bolder;
}
.fa-shopping-cart{
  padding: 3px;
  color: lightslategrey;
  opacity: 0.5;
  &:hover{
    color: darkslategray;
  }
}
.available-tickets-text{
  text-align: center;
  padding: 10px;
  color: lightgreen;
}

@media (min-width: 924px){
  .container-no-upcoming-tickets{
    background-color: whitesmoke;
    opacity: 0.95;
    position: relative;
    display: block;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin: 80px;

  }
}
@media (max-width: 923px){
 .container-no-upcoming-tickets{
  background-color: whitesmoke;
  opacity: 0.95;
  position: relative;
  display: block;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  margin: 20px;
}

}

